* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

pre {
    font-family: monospace;
    white-space: pre;
    text-align: center;
}

ol.menu {
    list-style: none;
    counter-reset: counter;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

div.menu {
    margin: auto;
    width: 50%;
    background-color: #909090;
    height: 100%;
    padding: 10px;
}

ol.menu li.menu {
    counter-increment: counter;
    display: flex;
    width: 50%;
}

ol.menu li.menu::before {
    content: "0" counter(counter);
    font-weight: bold;
    font-size: 2cm;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

ul.sidenav li a {
    color: white;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #602B00;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    cursor: pointer;
}

@media screen and (max-width: 1380px) {
    .table-row,
    .table-header {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 900px) {
    .table-row,
    .table-header,
    .panel {
        margin-left: -10px;
        margin-right: 20px;
        text-align: center;
    }
}

ul.sidenav li a {
    float: left;
    padding: 15px;
}

.hero {
    margin: 0;
    padding: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://restaurantengine.com/wp-content/uploads/2015/05/startup-restaurants-typically-overspend.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
}